@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    @apply text-sm dark:bg-black dark:text-white/80;
    /* font-family: 'Inter', sans-serif; */
    font-family: 'DM Sans', sans-serif;
}

/**
* All Headings
*/
h1, h2, h3, h4, h5, h6{
    font-family: 'Space Grotesk', sans-serif;
    /* font-family: 'DM Sans', sans-serif; */
    @apply dark:text-white;
}
h1{
    @apply text-4xl font-bold;
}
h2{
    @apply text-3xl font-bold;
}
h3{
    @apply text-2xl font-bold;
}
h4{
    @apply text-xl font-bold;
}
h5{
    @apply text-lg font-bold;
}
h6{
    @apply text-base font-bold;
}

.dark body::before{
    width: 100%;
    height: 100%;
    content: '';
    position: fixed;
    background: radial-gradient(75.61% 75.61% at 50% 24.39%, rgba(37, 99, 235, 0.2) 0%, rgba(180, 83, 9, 0) 100%);
    z-index: -1;
}

.bg-noise{
    background-image: url('/images/noise.webp');
    background-repeat: repeat;
    background-size: 100px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.container{
    @apply mx-auto px-4 max-w-7xl;
}

/* Card */
/* .card{
    @apply bg-white dark:bg-white/10 rounded-3xl p-10;
} */

/* Buttons */

.btn{
    @apply py-2 px-4;
}
.btn-default{
    @apply bg-black/20 text-black/80 hover:bg-black/30 rounded-lg dark:bg-white/20 dark:text-white/80 dark:hover:bg-white/30 backdrop-blur;
}
.btn-primary{
    @apply bg-primary-500 text-primary-50 hover:bg-primary-600 rounded-lg;
}

.btn-success{
    @apply bg-green-600 text-green-50 hover:bg-green-700;
}

.btn-danger{
    @apply bg-red-600 text-red-50 hover:bg-red-700;
}

.btn-warning{
    @apply bg-yellow-600 text-yellow-50 hover:bg-yellow-700;
}

.btn-block{
    @apply w-full;
}

/* Forms */
.form-group{
    @apply mb-4;
}
.form-group label{
    @apply block text-sm mb-1 ml-1;
}
.form-control{
    @apply border border-gray-300 dark:border-white/20 dark:bg-white/20 text-gray-500 dark:text-white/80 rounded-lg px-4 py-2 w-full;
}

.form-group.error .form-control{
    @apply border-red-500 text-red-500;
}
.form-group.error label{
    @apply text-red-500;
}
.error-message {
    @apply text-red-500 text-sm mt-1 ml-1;
}


.thin-scrollbar::-webkit-scrollbar {
    width: 0.5rem;
}

/**
Spaicing
**/
.heading-spacing{
    @apply mb-8 lg:mb-14;
}
.section-spacing{
    @apply mb-14 lg:mb-32;
}

/**
* Content
*/
.content {
    @apply text-base dark:text-white/80;
  }
.content p,
.content ul,
.content ol,
.content pre,
.content iframe {
@apply mb-4;
}
[itemprop="text"] {
}
.content ul {
list-style-type: disc;
padding: 0 0 0 21px;
margin: 32px 0;
}
.content ul li {
@apply mb-2;
}
.content ul li::marker {
@apply text-black/40 dark:text-white/50;
}

.content ol {
list-style-type: decimal;
padding: 0 0 0 21px;
}
.content ol li {
@apply mb-2;
}
.content ol li::marker {
@apply text-white/50;
}

.content * {
scroll-margin-top: 100px;
}
.content img {
@apply my-4 bg-white rounded-xl;
}

.content a {
@apply border-b hover:border-primary-500;
}

.content h2 a,
.content h3 a,
.content h4 a,
.content h5 a,
.content h6 a {
@apply border-none;
}
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
@apply mb-4;
}

.content pre {
@apply bg-gray-200 dark:bg-white/10 rounded-xl p-4 overflow-x-auto;
}